.why-container {
  /* width: 100%; */
  background: rgb(17, 116, 122);
  display: flex;
  height: 638px;
  width: 1440;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}
.mask > img {
  /* width: 100%;
    height: 100%; */
  float: right;
  /* position: relative; */
  top:-4rem;
}
.g > img {
}

.text-w-c > img {
}

.g {
    display: block;
    /* justify-content: space-between; */
    /* align-items: center;
    justify-content: center; */
    /* position: relative; */
    /* justify-content: center; */
    /* top:28rem; */
    /* left:30rem; */
    /* color:white; */
    /* float: left; */
    /* position: relative; */


}
.g1 {
    position: relative;
    left:28rem;
    top:-10rem
}
.mas {

}
.why-t1 {
    text-wrap: wrap;
    width:680px;
    margin-bottom: 2rem;

}
.why-t2 {
    text-wrap: wrap;
    width: 680px;
    margin-bottom: 2rem;
}
.title-w {
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    font-style: normal;
  font-family: 'Nunito Sans', sans-serif;

}
.btn {
    width:119px;
    height: 44px;
    border:1.5px solid #FFDD1E;
    border-radius: 25px;
    background: transparent;
    color: white;

}
.text-w-c {
    /* margin-left: 15rem; */
  color:aliceblue;
    display: flex;
    position:relative;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    top:-30rem;
    left:60rem;
    align-items: flex-start;

}
